.main-header {
    width: 100%;
    align-items: center;
    border-bottom: 2px solid $borderColor;
    .header {
        padding: 1rem 0;
        .container-title {
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding: 1rem 0;
            .main-header__title {
                margin: 0;
            }
        }
        .container-main-menu {
            justify-content: center;
        }
    }
}


//SMALL & MEDIUM
@media screen and (min-width: 0) and (max-width: 63.9375em) {
    .main-header {
        background-color: $postFirstColor;
    }
    .grid-container {
        &.header {
            margin: 0 1rem;
            padding-bottom: 0;
            width: 100%;
            .container-title {
                flex-direction: row;
                justify-content: space-between;
                padding: 0;
                .main-header__title, .reseau-link {
                    color: $whiteColor;
                }
                .main-header__title {
                    font-size: 1.4rem;
                }
            }
            .reseaux-socieux {
                width: 100%;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                .reseau-link.fa-instagram {
                    padding-right: 0;
                }
            }
        }
    }
}

//SMALL ONLY
@media screen and (max-width: 39.9375em) {
    .grid-container {
        &.header {
            .container-title {
                .main-header__title {
                    font-size: 1.1rem;
                }
            }
        }
    }
}


@import "../components/menu";