//PAGE listPostsView.php
.container-titre {
    justify-content: center;
    padding: 2rem 0;
}

.card {
    margin: 0 1rem 2rem;
    .card__text {
        margin: 0.5rem 0 1rem;
    }
    .card__btns {
        justify-content: space-between;
    }
}


.post-main-container {
    .btn-primary {
        padding: 0.5rem 1rem;
        color: $firstColor;
        border: 2px solid $firstColor;
        border-radius: 5px;
        &:hover {
            color: #fff;
            background-color: $firstColor;
        }
    }
    .post {
        padding: 2rem;
        &-title {
            font-size: $fsH2;
            font-weight: 700;
            margin-bottom: 0;
            color: $postFirstColor;
        }
        &-date {
            color: rgba($secondColor, 0.6);
            font-size: $fsPostDate;
        }
        &-content {
            padding: 1rem 0;
            margin-bottom: 0;
          color: lighten( $postFirstColor, 15%);
        }
    }
}


.form-comments {
    padding: 0;
    .container-form {
        max-width: 600px;
        padding: 2rem 1rem 1rem;
        margin: 0;
    }
    .input-form {
        position: relative;
        .label-form {
            position: absolute;
            left: 1rem;
            top: 0.5rem;
            color: $secondColor;

            transition: left 0.3s, top 0.3s ease;
        }
        .label-up {
                top: -1.5rem;
                color: $postFirstColor;
                font-weight: 500;
        }

        .textarea-form {
            resize: none;
            height: 100px;
            border-radius: 5px;
        }
    }
}
.subtitle {
    font-size: $fsH2;
}

.btn-form {
    width: 100%;
    background-color: $postFirstColor;;
    padding: 0.6rem 0;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    &:hover {
        background-color: $postSecondColor;
    }
}

.container-comments {
    padding: 2rem 0;
    .user {
        display: flex;
        align-items: flex-end;
        padding: 1rem 0;
        &__photo {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            overflow: hidden;
            margin-right: 1rem;
        }
        &__nom {
            display: block;
            margin-bottom: 0;
            text-transform: capitalize;
            & strong {
                color: $postFirstColor;
            }
        }
    }
    .comment-date {
        font-size: 0.7rem;
        color: rgba($secondColor, .7);
    }
}