//PAGE listPostsView.php
.derniers-billets {
    justify-content: center;
    padding: 2rem 0;
}

.card {
    margin: 0 1rem 2rem;
    .card__text {
        margin: 0.5rem 0 1rem;
    }
    .card__btns {
        justify-content: space-between;
    }
}


.main-container {
    padding: 3rem 0;
    .btn-primary {
        padding: 0.5rem 1rem;
        color: $firstColor;
        border: 2px solid $firstColor;
        border-radius: 5px;
        &:hover {
            color: #fff;
            background-color: $firstColor;
        }
    }
    .news-container {
        padding: 3rem 0;
        .news-title {
            h1 {
                font-size: $fsH1;
                line-height: 0.5;
            }
            .news-date {
                color: rgba($secondColor, 0.6);
                font-size: $fsPostDate;
            }
        }
        .news-content {
            padding: 1rem 0;
        }
    }
}

.form-comments {
    padding: 0;
}
.subtitle {
    font-size: $fsH2;
}

.btn-form {
    width: 100%;
    background-color: transparent;
}

.container-comments {
    padding: 5rem 0;
    .comment-date {
        font-size: 0.7rem;
        color: rgba($secondColor, .7);
    }
}