$bodyBg           : #f6f5ff;
$firstColor       : #555555;
$secondColor      : #999999;
$postFirstColor   : #48549D;
$postSecondColor  : #00D184;
$postThirdColor   : #fad917;
$postFourColor    : #95a5c6;
$borderColor      : #DFE0E0;
$whiteColor       : #fff;
$errorColor       : #e35656;
$reportColor      : #c5c5c5;
$btnAltColor      : #00000033;



//FONT-SIZE
$fsPostDate : 0.7em;
$fsH1       : 1.8rem;
$fsH2       : 1.5rem;
$fsH3       : 1.1rem;
$fsP        : 0.95rem;


//mixins

//pour convertir px à rem @size valeur en px
@mixin font-size ($size) {
  $remValue: $size / 16;
  font-size: $remValue + rem;
}
