@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");
/* line 4, public/scss/config/typography.scss */
body {
  font-family: "Roboto", sans-serif;
}

/* line 1, public/scss/blocks/base.scss */
html {
  height: 100%;
}

/* line 4, public/scss/blocks/base.scss */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f6f5ff;
  color: #999999;
}

/* line 12, public/scss/blocks/base.scss */
footer {
  width: 100%;
  margin-top: auto;
}

/* line 18, public/scss/blocks/base.scss */
h1, h2, h3 {
  color: #555555;
  font-weight: 500;
  text-transform: uppercase;
}

/* line 24, public/scss/blocks/base.scss */
h1 {
  font-size: 1.8rem;
}

/* line 25, public/scss/blocks/base.scss */
h2 {
  font-size: 1.5rem;
}

/* line 26, public/scss/blocks/base.scss */
h3 {
  font-size: 1.1rem;
  margin-bottom: 0;
}

/* line 31, public/scss/blocks/base.scss */
a {
  color: #555555;
  text-transform: uppercase;
  font-size: 0.875rem;
}

/* line 35, public/scss/blocks/base.scss */
a:hover {
  color: #999999;
}

/* line 40, public/scss/blocks/base.scss */
p {
  font-size: 0.95rem;
}

/* line 41, public/scss/blocks/base.scss */
span, p {
  color: #999999;
  font-weight: 400;
}

/* line 46, public/scss/blocks/base.scss */
span {
  font-size: 0.8rem;
  font-family: "Roboto", sans-serif;
}

/* line 49, public/scss/blocks/base.scss */
span:hover {
  color: #555555;
}

/* line 1, public/scss/blocks/header.scss */
.main-header {
  width: 100%;
  align-items: center;
  border-bottom: 2px solid #DFE0E0;
}

/* line 5, public/scss/blocks/header.scss */
.main-header .header {
  padding: 1rem 0;
}

/* line 7, public/scss/blocks/header.scss */
.main-header .header .container-title {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem 0;
}

/* line 12, public/scss/blocks/header.scss */
.main-header .header .container-title .main-header__title {
  margin: 0;
}

/* line 16, public/scss/blocks/header.scss */
.main-header .header .container-main-menu {
  justify-content: center;
}

/* line 3, public/scss/components/menu.scss */
.post-aside .main-nav {
  position: relative;
  width: 100%;
  min-height: 50vh;
  overflow: hidden;
}

/* line 8, public/scss/components/menu.scss */
.post-aside .main-nav .menu {
  position: absolute;
  left: -100%;
  transition: left 0.5s ease-in-out;
}

/* line 14, public/scss/components/menu.scss */
.post-aside .main-nav.show-menu .menu {
  left: 0;
}

/* line 1, public/scss/components/btn-hamburger.scss */
.nav-toggle {
  position: relative;
  width: 2.1rem;
  height: 22px;
  cursor: pointer;
}

/* line 6, public/scss/components/btn-hamburger.scss */
.nav-toggle .btn-toggle {
  background-color: white;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  transition: width .5s ease;
}

/* line 12, public/scss/components/btn-hamburger.scss */
.nav-toggle .btn-toggle:before, .nav-toggle .btn-toggle:after {
  content: '';
  position: absolute;
  height: 4px;
  width: 100%;
  background-color: #fff;
  border-radius: 3px;
}

/* line 20, public/scss/components/btn-hamburger.scss */
.nav-toggle .btn-toggle:before {
  bottom: 9px;
  background: yellow;
  transition: width .625s ease;
}

/* line 25, public/scss/components/btn-hamburger.scss */
.nav-toggle .btn-toggle:after {
  bottom: 0;
  background: red;
  transition: width .75s ease;
}

/* line 31, public/scss/components/btn-hamburger.scss */
.nav-toggle .cross {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

/* line 37, public/scss/components/btn-hamburger.scss */
.nav-toggle .cross:before {
  content: '';
  position: absolute;
  width: 4px;
  height: 25%;
  top: -6px;
  right: 1rem;
  transition: all .5s ease;
}

/* line 47, public/scss/components/btn-hamburger.scss */
.nav-toggle .cross:after {
  content: '';
  position: absolute;
  width: 0;
  height: 4px;
  left: 0;
  top: 0.5rem;
  transition: all .25s ease;
}

/* line 60, public/scss/components/btn-hamburger.scss */
.nav-toggle.open .btn-toggle {
  width: 0;
  transition-delay: 0s;
}

/* line 63, public/scss/components/btn-hamburger.scss */
.nav-toggle.open .btn-toggle:before {
  width: 0;
  content: '';
  transition-delay: .125s;
}

/* line 68, public/scss/components/btn-hamburger.scss */
.nav-toggle.open .btn-toggle:after {
  width: 0;
  content: '';
  transition-delay: .25s;
}

/* line 76, public/scss/components/btn-hamburger.scss */
.nav-toggle.open #cross:before {
  content: '';
  height: 2rem;
  background-color: white;
  transition-delay: .625s;
}

/* line 82, public/scss/components/btn-hamburger.scss */
.nav-toggle.open #cross:after {
  content: '';
  width: 2rem;
  background-color: white;
  transition-delay: .375s;
}

/* line 2, public/scss/blocks/main.scss */
.container-titre {
  justify-content: center;
  padding: 2rem 0;
}

/* line 7, public/scss/blocks/main.scss */
.card {
  margin: 0 1rem 2rem;
}

/* line 9, public/scss/blocks/main.scss */
.card .card__text {
  margin: 0.5rem 0 1rem;
}

/* line 12, public/scss/blocks/main.scss */
.card .card__btns {
  justify-content: space-between;
}

/* line 19, public/scss/blocks/main.scss */
.post-main-container .btn-primary {
  padding: 0.5rem 1rem;
  color: #555555;
  border: 2px solid #555555;
  border-radius: 5px;
}

/* line 24, public/scss/blocks/main.scss */
.post-main-container .btn-primary:hover {
  color: #fff;
  background-color: #555555;
}

/* line 29, public/scss/blocks/main.scss */
.post-main-container .post {
  padding: 2rem;
}

/* line 31, public/scss/blocks/main.scss */
.post-main-container .post-title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0;
  color: #48549D;
}

/* line 37, public/scss/blocks/main.scss */
.post-main-container .post-date {
  color: rgba(153, 153, 153, 0.6);
  font-size: 0.7em;
}

/* line 41, public/scss/blocks/main.scss */
.post-main-container .post-content {
  padding: 1rem 0;
  color: #737ebf;
}

/* line 49, public/scss/blocks/main.scss */
.form-comments {
  padding: 0;
}

/* line 52, public/scss/blocks/main.scss */
.subtitle {
  font-size: 1.5rem;
}

/* line 56, public/scss/blocks/main.scss */
.btn-form {
  width: 100%;
  background-color: transparent;
}

/* line 61, public/scss/blocks/main.scss */
.container-comments {
  padding: 5rem 0;
}

/* line 63, public/scss/blocks/main.scss */
.container-comments .comment-date {
  font-size: 0.7rem;
  color: rgba(153, 153, 153, 0.7);
}

/* line 2, public/scss/components/post-aside.scss */
.post-main-container .post-aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #48549D;
  padding: 2rem;
}

/* line 8, public/scss/components/post-aside.scss */
.post-main-container .post-aside h1, .post-main-container .post-aside a {
  color: #fff;
}

/* line 13, public/scss/components/post-aside.scss */
.post-main-container .post-aside .post-header-blog {
  display: flex;
  justify-content: space-between;
}

/* line 16, public/scss/components/post-aside.scss */
.post-main-container .post-aside .post-header-blog .main-header__title {
  text-transform: capitalize;
  font-weight: 500;
}

/* line 21, public/scss/components/post-aside.scss */
.post-main-container .post-aside .post-header a {
  padding: 0.5rem 0;
  text-transform: inherit;
}

/* line 24, public/scss/components/post-aside.scss */
.post-main-container .post-aside .post-header a:hover {
  color: #fad917;
}

/* line 28, public/scss/components/post-aside.scss */
.post-main-container .post-aside .post-header .main-menu__link {
  position: relative;
}

/* line 30, public/scss/components/post-aside.scss */
.post-main-container .post-aside .post-header .main-menu__link:before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 0;
  height: 3px;
  background-color: #fad917;
}

/* line 39, public/scss/components/post-aside.scss */
.post-main-container .post-aside .post-header .main-menu__link:hover:before {
  width: 100%;
  transition: width 0.3s ease-in-out;
}

/* line 48, public/scss/components/post-aside.scss */
.post-main-container .post-aside .container-titre-livre .auteur {
  position: relative;
  color: #fad917;
  font-weight: 500;
  padding-bottom: 5px;
}

/* line 53, public/scss/components/post-aside.scss */
.post-main-container .post-aside .container-titre-livre .auteur:before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 2rem;
  height: 3px;
  background-color: #fad917;
}

/* line 62, public/scss/components/post-aside.scss */
.post-main-container .post-aside .container-titre-livre .titre-livre {
  font-weight: 700;
  font-size: 1.5rem;
}

/* line 1, public/scss/components/banner.scss */
.banner {
  max-height: 20rem;
  position: relative;
}

/* line 4, public/scss/components/banner.scss */
.banner:before {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(72, 84, 157, 0.5);
}

/* line 12, public/scss/components/banner.scss */
.banner__img {
  max-height: 20rem;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* line 1, public/scss/blocks/footer.scss */
.container-footer {
  justify-content: center;
  padding: 2rem 0;
}

/* line 5, public/scss/blocks/footer.scss */
.container-footer .copyright {
  margin: 0;
}

/* line 2, public/scss/blocks/reseaux.scss */
.reseaux-socieux .reseau-link {
  line-height: 2;
  font-size: 1.2rem;
  color: #555555;
  padding: 0 0.8rem;
}

/* line 7, public/scss/blocks/reseaux.scss */
.reseaux-socieux .reseau-link:hover {
  color: #999999;
}

/* line 1, public/scss/components/cards.scss */
.card {
  box-shadow: 0 5px 25px -10px #999999;
}

/* line 1, public/scss/components/form-log-in-out.scss */
.container-login, .container-logout {
  display: flex;
  justify-content: center;
}

/* line 6, public/scss/components/form-log-in-out.scss */
.main-container-form {
  margin-top: 2rem;
  max-width: 400px;
}

/* line 10, public/scss/components/form-log-in-out.scss */
.container-photo-profile {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-image: url("https://images.pexels.com/photos/417173/pexels-photo-417173.jpeg?auto=compress");
  background-position: center;
  background-size: cover;
  min-height: 200px;
}

/* line 20, public/scss/components/form-log-in-out.scss */
.container-photo-profile:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(72, 84, 157, 0.4);
}

/* line 27, public/scss/components/form-log-in-out.scss */
.container-photo-profile .photo-profile {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: #999999;
}

/* line 33, public/scss/components/form-log-in-out.scss */
.container-photo-profile .photo-profile, .container-photo-profile .text-connexion {
  z-index: 10;
}

/* line 36, public/scss/components/form-log-in-out.scss */
.container-photo-profile .text-connexion {
  color: white;
  font-size: 1.1rem;
}

/* line 42, public/scss/components/form-log-in-out.scss */
.container-form {
  justify-content: center;
}

/* line 44, public/scss/components/form-log-in-out.scss */
.container-form .form-group {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

/* line 48, public/scss/components/form-log-in-out.scss */
.container-form .form-group .fas {
  color: #48549D;
  font-size: 1.05rem;
}

/* line 52, public/scss/components/form-log-in-out.scss */
.container-form .form-group input {
  margin-bottom: 0;
  border: none;
  outline: none;
}

/* line 56, public/scss/components/form-log-in-out.scss */
.container-form .form-group input:focus {
  border: none;
}

/* line 62, public/scss/components/form-log-in-out.scss */
.container-form .group-mdp-oublie {
  justify-content: flex-end;
}

/* line 64, public/scss/components/form-log-in-out.scss */
.container-form .group-mdp-oublie .mdp-oublie {
  margin-bottom: 0;
}

/* line 66, public/scss/components/form-log-in-out.scss */
.container-form .group-mdp-oublie .mdp-oublie__link {
  color: #999999;
  font-size: 0.7rem;
}

/* line 69, public/scss/components/form-log-in-out.scss */
.container-form .group-mdp-oublie .mdp-oublie__link:hover {
  color: #48549D;
}

/* line 76, public/scss/components/form-log-in-out.scss */
.container-form .group-valider {
  justify-content: center;
  flex-direction: column;
}

/* line 79, public/scss/components/form-log-in-out.scss */
.container-form .group-valider .btn-valider {
  padding: 0.8rem 1rem;
  margin: 1rem 0;
  background-color: #48549D;
  color: white;
  border-radius: 5px;
  box-shadow: 0 3px 6px -3px black;
  cursor: pointer;
}

/* line 87, public/scss/components/form-log-in-out.scss */
.container-form .group-valider .btn-valider:hover {
  background-color: #404b8c;
}

/* line 91, public/scss/components/form-log-in-out.scss */
.container-form .group-valider p, .container-form .group-valider .creer-compte__link {
  font-size: 0.8rem;
}

/* line 94, public/scss/components/form-log-in-out.scss */
.container-form .group-valider .creer-compte__link {
  text-transform: lowercase;
}

/* line 96, public/scss/components/form-log-in-out.scss */
.container-form .group-valider .creer-compte__link:hover {
  color: #48549D;
}
