.add-post {
  .add-post__container-form {
    position: sticky;
    top: 2rem;
  }
  &__titre, #mceu_11 {
    border: 1px solid rgba($postFirstColor, .8);
    &:focus {
      border: 1px solid rgba($postFirstColor, 1);
    }
  }
  &__label-content {
    text-align: center;
    padding: .5rem 0;
    background-color: rgba($postFirstColor, .8);
    color: $whiteColor;
  }
  #mceu_11 {
    width: auto !important; // !important pour enlever le width 100% du plugin
  }
  &__file {
    display: none;
  }
  &__label-file {
    position: absolute;
    left: .5rem;
    bottom: 5.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
    background-color: rgba($postFirstColor, .5);
    color: $whiteColor;
    padding: .5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: all .3s ease;
    .fas {
      font-size: 1.5rem;
      margin-right: .5rem;
    }
    &:hover {
      background-color: rgba($postFirstColor, 1);
    }
  }
  .btn-container {
    margin-top: .5rem;
    .btn-form {
      width: 100%;
      background-color: rgba($postSecondColor, 0.8);
      color: $whiteColor;
      border: none;
      padding: .6rem 2rem;
      cursor: pointer;
      border-radius: 5px;
      transition: all .3s ease;
      &:hover {
        background-color: rgba($postSecondColor, 1);
      }
    }
  }
}

.admin-post-container {
  max-height: 600px;
  overflow-y: scroll;
}