//Generals
.btn, .btn--alt {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.btn {
  padding: 0.8rem 1rem;
  margin: 0;
  color: white;
  border-radius: 5px;
  box-shadow: 0 3px 6px -3px black;
  cursor: pointer;
  &:hover {
    color: $whiteColor;
  }
}

.valider {
  background-color: $postFirstColor;
  &:hover {
    background-color: darken($postFirstColor, 5);
  }
}

.error {
  background-color: $errorColor;
  &:hover {
    background-color: darken($errorColor, 5);
  }
}

.signaler {
  background-color: $reportColor;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 90px;
  padding: .3rem;
  &:hover {
    background-color: darken($reportColor, 5);
    color: $whiteColor;
  }
}

//BOUTONS ALTERNATIVES
.btn--alt {

  padding: 0.7rem;
  margin: 0;
  border-radius: 5px;
  box-shadow: 0 0 6px -3px black;
  cursor: pointer;
  transition: all .3s ease;
  background-color: transparent;
  color: $btnAltColor ;
  &:hover {
    color: $whiteColor;
  }
}
.valider--alt {
  color: $postFirstColor;
  &:hover {
    background-color: $postFirstColor;
  }
}

.error--alt {
  &:hover {
    background-color: $errorColor;
  }
}



// BOUTONS CRUD ADMIN
.admin-crud__btn {
  color: $whiteColor;
  padding: 0.1rem 1rem;
  border-radius: 0 0 5px 5px;
  transition: background-color .3s ease;
  &--editer {
    background-color: rgba($postFirstColor, .8);
    &:hover {
      background-color: rgba($postFirstColor, 1);
      color: $whiteColor;
    }
  }
  &--supprimer {
    background-color: rgba($errorColor, .8);
    &:hover {
      background-color: rgba($errorColor, 1);
      color: $whiteColor;
    }
  }
}