.main-nav {
  position: relative;
  width: 100%;
  min-height: 50vh;
  overflow: hidden;
  .menu{
    position: absolute;
    left: -100%;
    transition: left 0.5s ease-in-out;
  }
  &.show-menu {
    .menu{
      left: 0;
    }
  }
}

//LARGE UP
@media screen and (min-width: 64em) {
  .header {
    .nav-toggle {
      display: none;
    }
  }
}

//SMALL to MEDIUM
@media screen and (min-width: 0) and (max-width: 63.9375em) {
  .header {
    .nav-toggle {
      display: block;
    }
    .container-main-menu {
      .main-nav {
        position: relative;
        min-height: 0;
        overflow: visible;
        .menu {
          position: absolute;
          left: -100%;
          top: 1.2rem;
          width: 60%;
          min-height: 100vh;
          z-index: 300;
          background-color: $whiteColor;
          transition: left 0.5s ease-in-out;
          &:before {
            content: '';
            position: absolute;
            top: -1.2rem;
            left: -100%;
            width: 100%;
            min-height: 100vh;
            background-color: rgba($postFirstColor, .8);
            transition: left 0.5s ease-in-out;
          }
        }
        &.show-menu {
          .menu {
            left: 0;
            &:before {
              content: '';
              position: absolute;
              top: -1.2rem;
              left: 100%;
              width: 100%;
              min-height: 100vh;
              background-color: rgba($postFirstColor, .8);
            }
          }
        }
      }
    }
  }
}

//MEDIUM UP
@media screen and (min-width: 64em) {
  .header {
    .container-main-menu {
      .main-nav {
        position: initial;
        width: auto;
        min-height: 0;
        .menu {
          position: initial;
        }
      }
    }
  }
}



