.container-user-edit, .container-signaler {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba($postFirstColor, .8);
  .main-container-form {
    .btn-close {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: .4rem;
      right: .5rem;
      z-index: 10;
      line-height: .7;
    }
    .btn-close:after {
      content: "+";
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transform: rotate(45deg);
      font-weight: 300;
      font-size: 2rem;
      color: $whiteColor;
    }
  }
  .photo-profile {
    background-size: cover;
  }

  .form-group {
    .label-form {
      display: flex;
      align-items:center;
      position: relative;
      cursor: pointer;
      padding: 5px 15px 5px 51px;
      border-radius: 3px;
      transition: all .3s ease;
      &:hover {
        background: rgba($secondColor , .6);
        color: $whiteColor;
      }
      &:before {
        content: '';
        display: inline-block;
        position: absolute;
        left: 15px;
        width: 17px;
        height: 17px;
        border-radius: 50%;
        background: none;
        border: 2px solid $postFirstColor;
      }
    }
    .radio-form {
      display: none;
    }
    .radio-form:checked + .label-form:before {
      display: none;
    }
    .radio-form:checked + .label-form {
      padding: 5px 15px;
      background: $postFirstColor;
      border-radius: 3px;
      color: $whiteColor;
    }
  }
}

#modal.container-signaler {
  .container-form {
    padding: 1rem;
  }
}