.container-profil {
  position: relative;
  padding: 2rem 1rem;
  .alert-container {
    position: absolute;
    top: 0;
    width: 100%;
    margin: 0;
    .alert {
      margin: 0;
    }
  }
  &.profil-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $postFirstColor;
    min-height: 30vh;
    border-radius: 5px 0 0 5px;
  }
  &.profil-content {
    background-color: $whiteColor;
    border-radius: 0 5px 5px 0;
  }
}

.profil-image {
  border-radius: 50%;
  padding: .1rem;
  border: .1rem solid $whiteColor;
  position: relative;
  max-width: 100px;
  max-height: 100px;
  min-width: 100px;
  min-height: 100px;
  .image {
    object-fit: cover;
    border-radius: 50%;
    width: 100%;
    height: 100%;
  }
  .button {
    color: $whiteColor;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-radius: 50%;
    .fas {
      position: absolute;
      right: 0;
      top: 0;
      font-size: 1.5rem;
    }
    &:hover {
      background-color: rgba($whiteColor, .4);
    }
  }
}

.profil {
  &__nom {
    color: $whiteColor;
  }
  &__role {
    color: $postThirdColor;
  }

  &__coords {
    .form-group {
      width: 100%;
      padding: .5rem;
      background: $whiteColor;
      margin-bottom: 1rem;
      border-radius: 3px;
    }

    .profil__email {
      color: $postFirstColor;
    }
  }
}

.form-edit-profil {
  position: relative;
  .button.editer, .button.error {
    position: absolute;
    right: 0;
    top: 0;
    padding: .5rem;
    border-radius: 5px;
    color: $whiteColor;
  }
}