.user-manager-container {
  justify-content: space-between;
  padding: 2rem;
  .user {
    justify-content: space-between;
    padding: 1rem;
    .user__info-container {
      justify-content: space-between;
      padding: 1rem;
    }
    &__photo {
      max-width: 70px;
      max-height: 70px;
      border-radius: 50%;
      overflow: hidden;
      margin-right: 1rem;
    }
    &__controls {
      padding: 0;
      .admin-crud__btn{
        padding: .4rem .5rem;
        border-radius: 5px;
        margin: .2rem .4rem .2rem 0;
      }
    }
  }


  //queries taille ecrans Medium
  @media screen and (min-width: 40em) and (max-width: 63.9375em){
    .user {
      &__controls {

        .admin-crud__btn{

        }
      }
    }
  }


  //queries taille ecrans Medium
  @media screen and (min-width: 64em){
    .user {
      //padding: 0;

      &__photo {
          max-width: 6rem;
          max-height: 6rem;
      }
      &__controls {
        display: flex;
        flex-direction: column;
        width: initial;
        .admin-crud__btn{
            margin: 0 0 .2rem;
          }
      }
    }
  }
}